section {
    padding: 0px 10px 10px 10px; /* Espaçamento vertical para todas as seções */
}

.navbar-b {
    position: static;
}

.custom-link {
    color: #198754; /* Cor do link como a do botão */
    text-decoration: none;
}


.base {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;   
}

.border-separator {
    border-top: 2px solid #ccc;
    padding-top: 20px;
    margin: 5px;
}

.elemento-div-img {
    width: 500px;
}

.elemento-div-text { 
    width: 600px;
}

.titulo-melhorado {
    font-size: 2.5rem; /* Aumenta o tamanho do título */
    font-family: 'Arial', sans-serif; /* Altera a fonte */
    font-weight: bold; 
    color: #3CB371; /* Cor de texto principal */
    text-align: center;
}

.texto-melhorado {
    font-size: 1.2rem; /* Aumenta o tamanho do texto */
    font-family: 'Arial', sans-serif; /* Altera a fonte */
    color: #555; /* Cor de texto secundário */
    text-align: left;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    background-color: #3CB371; /* Cor de destaque dos cards */
    color: #fff; /* Cor do texto dos cards */
}

.card-img-top {
    height: 300px; /* Define a altura fixa da imagem */
    object-fit: cover; /* Mantém a proporção da imagem */
}

.card-body {
    flex: 1;
}

.elemento-div-img-talentos {
    width: 500px;
}

.elemento-div-text-talentos {
    width: 600px;
}

.elemento-div-img-onu {
    width: 500px;
}

.elemento-div-text-onu {
    width: 600px;
}

footer {
    background-color: #3CB371;
    padding: 10px; 
    text-align: center;
    color: white;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p {
    margin: 5px; /* Diminuí a margem */
}

.footer-links a {
    color: white;
    margin: 0 5px; /* Diminuí a margem */
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

